/* import font */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

/* font */
.theme-font {
  font-family: "PT Serif", serif;
}

/* all common color section */
.brown {
  background-color: #945c33;
}

.transparent-bg {
  background-color: transparent;
}
