/* import font */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

/* font */
.logo-font {
  font-family: "PT Serif", serif;
}
.banner-title {
  font-family: "Source Serif Pro", serif;
}

/* all common color section */
.brown {
  background-color: #88522c;
}
.pink {
  background-color: #c96f82;
}

.transparent-bg {
  background-color: transparent;
}

.div-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  min-width: 20px;
}

/* card animation */
.img-container {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.product-img {
  overflow: hidden;
  height: 300px;
  width: 100%;
  transition: all 0.3s;
}

.img-container:hover .product-img {
  transform: scale((1.2));
  height: 350px;
}
.visit {
  transition: all 0.5s;
}

.img-container:hover .visit {
  bottom: 0px;
}
